@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  overflow-x: clip;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("/fonts/gilroy-bold.ttf") format("truetype");
  /* font-weight: 700; */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Regular.ttf") format("truetype");
  /* font-weight: 700; */
  font-style: normal;
  font-display: swap;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Gilroy", sans-serif;
}
.bg-color {
  background-color: #ffbe35;
}

.head-button {
  opacity: 0.9;
}

.head-button:hover {
  opacity: 1;
}
/* 
  .hero-img{
  width: 680px !important;  
  height: auto !important;
  max-width: 680px !important;
  } */

.hero-txt-1 {
  font-weight: 400 !important;
  font-family: "Gilroy-Bold", sans-serif;
}

.hero-txt-2 {
  font-weight: 400 !important;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  /* Hide scrollbar for Chrome, Safari, and Opera */
}

.scrollbar-hide {
  -ms-overflow-style: none;
  /* Hide scrollbar for IE and Edge */
  scrollbar-width: none;
  /* Hide scrollbar for Firefox */
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 1000ms;
}

.main-haz {
  padding-top: 0px;
}

@keyframes dropBounce {
  0% {
    transform: translateY(-300px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  70% {
    transform: translateY(0);
  }
  85% {
    transform: translateY(-20px);
  }
  95% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

.animate-drop-bounce {
  animation: dropBounce 1.5s ease-in-out forwards;
}

.ship-cont-1 {
  z-index: 6;
}

.ship-cont-2 {
  z-index: 5;
}

.pro-anim {
  animation: rotate 20s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.scro-ico {
  width: 70px;
  height: 70px;
  max-width: 174%;
}
