@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("/fonts/gilroy-bold.ttf") format("truetype");
  /* font-weight: 700; */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Regular.ttf") format("truetype");
  /* font-weight: 700; */
  font-style: normal;
  font-display: swap;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Gilroy", sans-serif;
  overflow-x: hidden !important;
}
.bg-color {
  background-color: #ffbe35;
}

.head-button {
  opacity: 0.9;
}

.head-button:hover {
  opacity: 1;
}
/* 
  .hero-img{
  width: 680px !important;  
  height: auto !important;
  max-width: 680px !important;
  } */

.hero-txt-1 {
  font-weight: 400 !important;
  font-family: "Gilroy-Bold", sans-serif;
}

.hero-txt-2 {
  font-weight: 400 !important;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  /* Hide scrollbar for Chrome, Safari, and Opera */
}

.scrollbar-hide {
  -ms-overflow-style: none;
  /* Hide scrollbar for IE and Edge */
  scrollbar-width: none;
  /* Hide scrollbar for Firefox */
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 1000ms;
}

/* Extra small devices (phones, 575px and down) */
@media only screen and (max-width: 575px) {
  /* Styles for phones */
  .serv-img {
    width: 13rem !important;
    height: 13rem !important;
  }

  .serv-card {
    gap: 4rem !important;
  }

  .serv-txt {
    font-size: 0.75rem;
    width: 65%;
  }

  .serv-card {
    flex-direction: column;
    align-items: center;
  }

  .serv-card > div {
    width: 100%;
    max-width: 300px;
  }

  .serv-img {
    height: 12rem;
    /* Adjust height for small screens */
  }

  .serv-line {
    width: 50%;
    left: 55%;
  }

  .cust-line {
    width: 50%;
    left: 55%;
  }

  .fri-txt-2 {
    position: relative;
    top: -154px;
  }
  .req-img {
    top: -40px !important;
  }
  .for-txt-1 {
    font-size: 3rem !important;
    text-align: center !important;
  }

  .for-img-1 {
    left: 0;
    width: 8rem;
  }

  .for-img-cont {
    height: 9rem;
  }

  .for-main-cont {
    top: -34px;
  }

  .for-txt-cont {
    left: 0;
  }

  .cust-cont {
    top: -30px;
  }

  .cust-line {
    top: -41px;
    width: 52%;
    left: 55%;
  }

  .cust-text-1 {
    font-size: 16px !important;
  }

  .cust-head {
    font-size: 10px !important;
  }

  .cust-text-cont {
    margin-top: 8px;
    margin-bottom: 30px;
  }
}

/* Small devices (portrait tablets and large phones, 576px and up) */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* Styles for tablets */
  .serv-img {
    width: 30rem !important;
    height: 30rem !important;
  }

  .serv-card {
    gap: 4rem !important;
  }

  .serv-txt {
    width: 145%;
  }

  .serv-head {
    font-size: 34px !important;
    line-height: normal;
  }
  .serv-des {
    font-size: 23px;
    line-height: normal;
  }

  .serv-card {
    flex-direction: column;
    align-items: center;
  }

  .serv-card > div {
    width: 100%;
    max-width: 300px;
  }

  .serv-img {
    height: 12rem;
    /* Adjust height for small screens */
  }
  .serv-line {
    width: 65%;
    left: 36%;
  }

  .cust-line {
    width: 46%;
    left: 58%;
  }

  .cust-text-1 {
    font-size: 22px !important;
  }

  .cust-cont {
    top: 73px;
  }

  .fri-txt-2 {
    position: relative;
    top: -100px;
  }

  .req-img {
    top: 16px !important;
  }

  .for-txt-1 {
    font-size: 3rem !important;
    text-align: center !important;
  }

  .for-img-1 {
    left: 0;
    width: 8rem;
  }

  .for-img-cont {
    height: 9rem;
  }

  .for-main-cont {
    top: 64px;
  }

  .for-txt-cont {
    left: 0;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* Styles for small laptops */

  .serv-img {
    width: 13rem !important;
    height: 13rem !important;
  }

  .serv-card {
    gap: 4rem !important;
  }

  .serv-txt {
    font-size: 0.75rem;
    width: 80%;
  }

  .serv-line {
    width: 71%;
    left: 28%;
  }

  .cust-line {
    width: 59%;
    left: 42%;
  }

  .cust-text-1 {
    font-size: 30px !important;
  }

  .for-txt-1 {
    font-size: 2.15rem !important;
  }

  .for-img-1 {
    left: -14%;
    width: 8rem;
  }

  .for-img-cont {
    height: 9rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* Styles for desktops */
  .serv-img {
    width: 15rem !important;
    height: 15rem !important;
  }

  .serv-card {
    gap: 6rem !important;
  }

  .serv-txt {
    font-size: 1rem;
    width: 100%;
  }
  .serv-line {
    width: 77%;
    left: 22%;
  }

  .cust-line {
    width: 68%;
    left: 33%;
  }

  .for-txt-1 {
    font-size: 2.75rem !important;
  }

  .for-img-1 {
    left: -10%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  /* Styles for desktops */
  .serv-img {
    width: 20rem !important;
    height: 20rem !important;
  }

  .serv-card {
    gap: 9rem !important;
  }

  .serv-line {
    width: 77%;
    left: 19%;
  }

  .for-txt-1 {
    font-size: 60px !important;
  }

  .cust-line {
    width: 75%;
    left: 26%;
  }
}

@media only screen and (min-width: 1400px) {
  /* Styles for larger screens */
  .serv-img {
    width: 25rem !important;
    height: 25rem !important;
  }

  .serv-card {
    gap: 15rem !important;
  }
}
