/* Extra small devices (phones, 575px and down) */
@media only screen and (max-width: 575px) {
  /* Styles for phones */
  .serv-img {
    width: 13rem !important;
    height: 13rem !important;
  }

  .serv-card {
    gap: 4rem !important;
  }

  .serv-txt {
    font-size: 0.75rem;
    width: 65%;
  }

  .serv-card {
    flex-direction: column;
    align-items: center;
  }

  .serv-card > div {
    width: 100%;
    max-width: 300px;
  }

  .serv-img {
    height: 12rem;
    /* Adjust height for small screens */
  }

  .serv-line {
    width: 50%;
    left: 55%;
  }

  .cust-line {
    width: 50%;
    left: 55%;
  }

  .fri-txt-2 {
    position: relative;
    top: -154px;
  }
  .req-img {
    top: -40px !important;
  }
  .for-txt-1 {
    font-size: 3rem !important;
    text-align: center !important;
  }

  .for-img-1 {
    left: 0;
    width: 8rem;
  }

  .for-img-cont {
    height: 9rem;
  }

  .for-main-cont {
    top: -34px;
  }

  .for-txt-cont {
    left: 0;
  }

  .cust-cont {
    top: -30px;
  }

  .cust-line {
    display: none;
  }

  .cust-text-1 {
    font-size: 16px !important;
  }

  .cust-head {
    font-size: 10px !important;
  }

  .cust-text-cont {
    margin-top: 8px;
    margin-bottom: 30px;
  }

  .cargo-haz-1 {
    border: 0px !important;
  }

  .cargo-haz-2 {
    top: 74px;
  }

  .cargo-haz-1 {
    border: 0px !important;
  }

  .cargo-haz-1 {
    border: 0px !important;
  }

  .cargo-haz-2 {
    top: 74px;
  }

  .cargo-haz-1 {
    border: 0px !important;
  }

  .haz-head-2 {
    position: relative;
    top: -68px;
  }

  .main-haz {
    top: 18px;
  }

  .haz-head {
    /* padding-left: 14.5rem; */
    top: 6px;
  }

  .intran-head {
    font-size: 1.5rem;
  }

  .intran-bullet {
    font-size: 15px !important;
  }

  .intran-gap {
    height: 10px !important;
  }

  .intran-cont {
    font-size: 15px;
  }

  .intran-img {
    width: 70px !important;
    height: 73px !important;
  }

  .intran-main {
    top: 27px !important;
  }
}

/* Small devices (portrait tablets and large phones, 576px and up) */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* Styles for tablets */
  .serv-img {
    width: 20rem !important;
    height: 20rem !important;
  }

  .serv-card {
    gap: 4rem !important;
  }

  .serv-txt {
    width: 145%;
  }

  .serv-head {
    font-size: 25px !important;
    line-height: normal;
  }
  .serv-des {
    font-size: 19px;
    line-height: normal;
  }

  .serv-card {
    flex-direction: column;
    align-items: center;
  }

  .serv-card > div {
    width: 100%;
    max-width: 300px;
  }

  .serv-img {
    height: 12rem;
    /* Adjust height for small screens */
  }
  .serv-line {
    width: 65%;
    left: 36%;
  }

  .cust-line {
    width: 46%;
    left: 58%;
  }

  .cust-text-1 {
    font-size: 22px !important;
  }

  .cust-cont {
    top: 73px;
  }

  .fri-txt-2 {
    position: relative;
    top: -100px;
  }

  .req-img {
    top: 16px !important;
  }

  .for-txt-1 {
    font-size: 3rem !important;
    text-align: center !important;
  }

  .for-img-1 {
    left: 0;
    width: 8rem;
  }

  .for-img-cont {
    height: 9rem;
  }

  .for-main-cont {
    top: 64px;
  }

  .for-txt-cont {
    left: 0;
  }

  .cargo-haz-1 {
    border: 0px !important;
  }

  .cargo-haz-2 {
    top: 74px;
  }

  .cargo-haz-1 {
    border: 0px !important;
  }

  .haz-head-2 {
    position: relative;
    top: -68px;
  }

  .haz-head {
    /* padding-left: 14.5rem; */
    top: 6px;
  }

  .intran-head {
    font-size: 2rem;
  }

  .intran-bullet {
    font-size: 17px !important;
  }

  .intran-gap {
    height: 20px !important;
  }

  .intran-cont {
    font-size: 17px;
  }

  .intran-img {
    width: 80px !important;
    height: 83px !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* Styles for small laptops */

  .serv-img {
    width: 13rem !important;
    height: 13rem !important;
  }

  .serv-card {
    gap: 4rem !important;
  }

  .serv-txt {
    font-size: 0.75rem;
    width: 80%;
  }

  .serv-line {
    width: 71%;
    left: 28%;
  }

  .cust-line {
    width: 59%;
    left: 42%;
  }

  .cust-text-1 {
    font-size: 30px !important;
  }

  .for-txt-1 {
    font-size: 2.15rem !important;
  }

  .for-img-1 {
    left: -14%;
    width: 8rem;
  }

  .for-img-cont {
    height: 9rem;
  }

  .cargo-haz-1 {
    border: 0px !important;
  }

  .cargo-haz-2 {
    top: 74px;
  }

  .cargo-haz-1 {
    border: 0px !important;
  }

  .haz-head {
    /* padding-left: 2.5rem; */
    top: 50px;
  }

  .intran-head {
    font-size: 3rem;
  }

  .intran-bullet {
    font-size: 24px !important;
  }

  .intran-gap {
    height: 30px !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* Styles for desktops */
  .serv-img {
    width: 15rem !important;
    height: 15rem !important;
  }

  .serv-card {
    gap: 6rem !important;
  }

  .serv-txt {
    font-size: 1rem;
    width: 100%;
  }
  .serv-line {
    width: 77%;
    left: 22%;
  }

  .cust-line {
    width: 68%;
    left: 33%;
  }

  .for-txt-1 {
    font-size: 2.75rem !important;
  }

  .for-img-1 {
    left: -10%;
  }

  .haz-3 {
    border: 0px !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  /* Styles for desktops */
  .serv-img {
    width: 20rem !important;
    height: 20rem !important;
  }

  .serv-card {
    gap: 9rem !important;
  }

  .serv-line {
    width: 77%;
    left: 19%;
  }

  .for-txt-1 {
    font-size: 60px !important;
  }

  .cust-line {
    width: 75%;
    left: 26%;
  }
  .haz-3 {
    border: 0px !important;
  }
}

@media only screen and (min-width: 1400px) {
  /* Styles for larger screens */
  .serv-img {
    width: 25rem !important;
    height: 25rem !important;
  }

  .serv-card {
    gap: 15rem !important;
  }
  .haz-3 {
    border: 0px !important;
  }
}
